@model WeBanHang.Models.StatisticModel
@if (Model != null)
{
    <div class="thongke">
        <table class="table">
            <tr>
                <td>Hôm nay</td>
                <td>@Model.ThisDay</td>
            </tr>
            <tr>
                <td>Hôm qua</td>
                <td>@Model.Yesterday</td>
            </tr>
            <tr>
                <td>Tuần này</td>
                <td>@Model.ThisWeek</td>
            </tr>
            <tr>
                <td>Số người đang online</td>
                <td>@ViewBag.visitors_online</td>
            </tr>
        </table>
    </div>
}
